<m-container>
    <form class="pure-form pure-form-stacked">
        <label for="x">x</label>
        <input id="x" type="number" [(ngModel)]="x" [ngModelOptions]="{standalone:true}"/>
        
        <label for="y">y</label>
        <input id="y" type="number" [(ngModel)]="y" [ngModelOptions]="{standalone:true}"/>

        <button class="pure-button" (click)="addData()">Add Data</button>
    </form>
    <canvasjs-chart 
        [options]="chartOptions" 
        (chartInstance)="getChartInstance($event)">
    </canvasjs-chart>
</m-container>