<m-container> 
    <div class="top">
        <span class="username">Chatting with: Buyer</span>
    </div>
    <div class="middle">
        <div *ngFor="let message of messages" class="message">
            <span class="sender">{{message.sender_username}}:</span>
            <span class="text">{{message.message_content}}</span>
        </div>
    </div>
    <div class="bottom">
        <input type="text"  placeholder="Message..." [(ngModel)]="message_content" [ngModelOptions]="{standalone: true}">
        <button class="button" type="submit" (click)="sendMessage()">Send</button>
    </div>
    <div>
        <button class="button" (click)="endChatSession()">End Chat Session</button>
    </div>
    <m-aha type="{{toast.type}}" header="{{toast.header}}" *ngIf="toast.ngIfControl">
        {{toast.message}}
    </m-aha>
</m-container>